body {
  background: -webkit-linear-gradient(left, 	#D4AF37 , #484749);
}

.title {
  color: black;
  text-align: center;
  text-decoration: underline;
  font-size: 27px;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
}

h2 {
  color: black;
  text-align: left;
  margin-left: 1.5%;
  font-family: Century Gothic, sans-serif;
}

.text {
  color: black;
  text-align: justify;
  text-align: left;
  margin-left: 1.5%;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
}

input {
  color: black;
  text-align: left;
  margin-left: 1.5%;
  font-family: Century Gothic, sans-serif;
  border: solid black;
  font-size: 16px;
}
